{% extends "base.html" %}
{% block content %}
{% load static %}


<article class="project-card">
{% if profile_user.profile.profile_pic %}
  <img src="{{ profile_user.profile.profile_pic.url }}">
{% else %}
  <img src="{% static 'images/default_profile.png' %}" 
       alt="Default profile">
{% endif %}
<h1>{{ profile_user.profile.display_name}}</h1>

<div class="bio"><p>{{ profile_user.profile.bio }}</p></div>

{% if projects %}
  <h2>Current Project: </h2>
  <ul>
    {% for project in projects %}
        <!-- TODO: add logic to get current pproject -->
        <strong><a href="{% url 'maker_projects:detail' project.pk %}">
        {{ project.title }} : 
      </a></strong>
        {{ project.description |truncatechars:20 }}
    {% endfor %}
  </ul>
{% else %}
  <p>No projects yet.</p>
{% endif %}

</article>
{% endblock %}
