/* Base Reset  Variables */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Space+Mono&display=swap');


:root {

  --font-header: 'Space Grotesk', sans-serif;
  --font-body: 'Space Mono', monospace;


  /* The "Command Center" Blue - sophisticated but technical */
  --primary: #334BCB;
  --primary-hover: #26389D;

  /* Deep Charcoal with a hint of warm "Bakelite" brown */
  --bg-body: #161714;
  --bg-card: #1C1E1B;

  /* Off-whites and Muted Grays for that vintage manual feel */
  --text-main: #ECE9E0;
  --text-muted: #8E9185;
  --border-color: #2D312C;

  /* MCM Hardware Accents - desaturated but vibrant */
  --green: #4D8B31;
  /* Vintage machinery green */
  --yellow: #D9A01B;
  /* Harvest gold / Brass pulse */
  --red: #B91C1C;
  /* Emergency stop button red */
  --cyan: #56B3B4;
  /* Retro oscilloscope teal */
  --orange: #D35400;
  /* The classic Eames/Herman Miller Orange */

  /* ---- Bootstrap theme variables ---- */
  --bs-primary: var(--primary);
  --bs-primary-rgb: 194, 0, 32;

  --bs-body-bg: var(--bg-body);
  --bs-body-color: var(--text-main);

  --bs-secondary-color: var(--text-muted);
  --bs-border-color: var(--border-color);

  --bs-card-bg: var(--bg-card);
  --bs-card-border-color: var(--border-color);

  --bs-link-color: var(--cyan);
  --bs-link-hover-color: var(--primary-hover);

  --bs-success: var(--green);
  --bs-warning: var(--yellow);
  --bs-danger: var(--red);
  --bs-info: var(--cyan);

  --bs-success-rgb: 0, 172, 91;
  --bs-warning-rgb: 255, 215, 0;
  --bs-danger-rgb: 255, 0, 0;
  --bs-info-rgb: 0, 255, 255;
}


body {
  color: var(--text-main);
  background-color: var(--bg-body);
}

h1 {
  color: var(--green);
  font-weight: bolder;
}

h2 {
  color: var(--text-main);
  
}

h3 {
  color: var(--yellow);
}

h1,
h2,
h3,
.btn {
  font-family: var(--font-header);
  letter-spacing: -0.02em;
}

body,
p,
code {
  font-family: var(--font-body);
  color: var(--text-main);
}

a {
  text-decoration: none;
  color: var(--green);
}

.btn-primary {
  background-color: var(--orange);
  border-color: var(--orange);

}

.btn-primary:hover {
  background-color: var(--orange) !important;
  border-color: var(--primary-hover) !important;

}


.card {
  background-color: var(--bg-card);
  justify-content: center;
}

.title-link {
  color: inherit;
  /* Takes the color of the parent h tag */
  text-decoration: none;
  /

}

.img {
  width: 50%;          
  aspect-ratio: 16 / 9;  
  object-fit: cover;     
  object-position: center; 
  
  border-radius: 20px;    
  border: 1px solid var(--border-color);
}



/* Crispy Forms*/

.custom-file-input::file-selector-button {
  color: var(--bg-body) !important;
}