{% extends "base.html" %}

{% load static %}


{% block content %}
<div class=".container">
<h1>Maker Projects</h1>

{% for project in projects %}
  <article class="project-card">
    <h2><a href="{% url 'maker_projects:detail' project.pk %}">
    {{ project.title }}
  </a></h2>

    <p>
      by
      <a href="{% url 'accounts:profile' project.owner.username %}">
        {{ project.owner.profile.display_name|default:"Maker" }}
      </a>
    </p>

    <p>{{ project.description|truncatewords:30 }}</p>

    {% if project.image %}
      <img src="{{ project.image.url }}" alt="{{ project.title }}">
    {% endif %}

    {% if project.code_snippet %}
      <pre><code>{{ project.code_snippet }}</code></pre>
    {% endif %}
  </article>
{% empty %}
  <p>No projects yet. Be the first to share!</p>
{% endfor %}
{% endblock %}
</div>
