{% extends "base.html" %}

{% load static %}


{% block content %}

<div class="container">
  <h2>Maker Projects</h2>
  {% for project in projects %}
  <article class="project-card">
    <h2><a href="{% url 'maker_projects:detail' project.pk %}">
        {{ project.title }}:{{ project.status }}
      </a></h2>
    <p>
      by
      <a href="{% url 'accounts:profile' project.owner.username %}">
        {{ project.owner.profile.display_name|default:"Maker" }}
      </a>
    </p>

    <p>{{ project.description|truncatewords:30 }}</p>

    {% if project.image %}
    <img src="{{ project.image.url }}" alt="{{ project.title }}">
    {% endif %}

    {% if project.code_snippet %}
    <pre><code>{{ project.code_snippet }}</code></pre>
    {% endif %}
  </article>
  {% empty %}
  <p>No projects yet. Be the first to share!</p>
  {% endfor %}

<div class="pagination">
  {% if  page_obj.has_previous %}
    <a href="?page={{  page_obj.previous_page_number  }}">Previous</a>
  {% endif %}

  <span>Page {{  page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{  page_obj.next_page_number  }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a
  {% endif %}

  {% endblock %}
</div>