{% extends "base.html" %}

{% block title %}Active Project Exists{% endblock %}

{% block content %}
<div class="container">
<div class="container mt-5">
    <div class="alert alert-warning" role="alert">
        You already have an active project. You cannot create a new one until it is completed.
    </div>

    <p>
        You can view your active project on your profile:
        <a href="{% url 'accounts:profile' request.user.username %}" class="btn btn-primary">
            Go to My Profile
        </a>
    </p>

</div>
</div>
{% endblock %}