{% extends "base.html" %}

{% block content %}
<article class="project-detail">

  <h1>{{ project.title }}</h1>

  <p>
    by
    <a href="{% url 'accounts:profile' project.owner.username %}">
      {{ project.owner.profile.display_name|default:project.owner.username }}
    </a>
  </p>

  <p class="project-date">
    Created {{ project.created_at|date:"F j, Y" }}
  </p>

  {% if project.image %}
    <img src="{{ project.image.url }}" alt="{{ project.title }}">
  {% endif %}

  <section class="project-description">
    <h2>Description</h2>
    <p>{{ project.description }}</p>
  </section>

  {% if project.code_snipet %}
    <section class="project-code">
      <h2>Code</h2>
      <pre><code>{{ project.code_snippet }}</code></pre>
    </section>
  {% endif %}

 {% if user == project.owner %}
  <a href="{% url 'maker_projects:edit' project.pk %}">Edit</a> |
  <a href="{% url 'maker_projects:delete' project.pk %}">Delete</a>
{% endif %}

<section class="checkpoints">
  <h2>Checkpoints</h2>

  <ul>
    {% for checkpoint in project.checkpoints.all %}
      <li>
        <div class="checkpoint {% if checkpoint.is_complete %}done{% endif %}">
          <strong>{{ checkpoint.title }}</strong>
          <p>{{ checkpoint.description }}</p>

          {% if user == project.owner %}
            <a href="{% url 'maker_projects:checkpoint_edit' checkpoint.pk %}">
              Edit
            </a>
            |
            <a href="{% url 'maker_projects:checkpoint_delete' checkpoint.pk %}">
              Delete
            </a>
          {% endif %}
        </div>
      </li>
    {% empty %}
      <li>No checkpoints yet.</li>
    {% endfor %}
  </ul>

  {% if user == project.owner %}
    <a href="{% url 'maker_projects:checkpoint_create' project.pk %}">
      + Add Checkpoint
    </a>
  {% endif %}
</section>


</article>
{% endblock %}
