{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Maker Buddy</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<header class="py-3">
  <div class="container text-center">
    <h1 class="mb-0">Maker Buddy</h1>
  </div>
  {% include 'navbar.html' %}
</header>



<main class="container py-4">
  {% block content %}{% endblock %}
</main>

</body>
</html>
