{% block content %}
<nav class="nav ">
  <div class="container-fluid">
    <ul class="nav nav-pills justify-content-end">
 
  <a class="nav-link"
    href="{% url 'public_feed:home' %}">Feed</a>

  {% if user.is_authenticated %}

  <a class="nav-link"
    href="{% url 'accounts:profile' user.username %}">Profile</a>


  <a class="nav-link"
    href="{% url 'maker_projects:create_project' %}">New Project</a>

  <a class="nav-link"
    href="{% url 'accounts:edit_profile' %}">Edit Profile</a>

  <form id="logout-form" method="post" action="{% url 'logout' %}" class="d-inline ">
    {% csrf_token %}
    <button type="submit" class=" nav-link">Logout</button>
  </form>

  {% else %}

  <a class="nav-link"
    href="{% url 'account_login' %}">Log In</a>

  <a class="nav-link"
    href="{% url 'accounts:signup' %}">Sign Up</a>

  {% endif %}
</ul>
</div>
</nav>

{% endblock %}