{% block content %}
<nav class="nav">
  <a href="{% url 'public_feed:home' %}">Feed</a>
  {% if user.is_authenticated %}
  <a href="{% url 'accounts:profile' user.username %}">Profile</a>
  <a href="{% url 'maker_projects:create' %}">New Project</a>
  <a href="{% url 'accounts:edit_profile' %}">Edit Profile</a>


  <form id="logout-form" method="post" action="{% url 'logout' %}" class="hidden-form">
    {% csrf_token %}
    <button type="submit" class="nav-link-button">Logout</button>
  </form>


  {% else %}
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'accounts:signup' %}">Sign Up</a>
  {% endif %}
</nav>
{% endblock %}